
@font-face {
    font-family: UbuntuBold;
    src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: UbuntuRegular;
    src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: UbuntuMedium;
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

.myFontRegular{
    font-family: UbuntuRegular;
}
.myFontMedium{
    font-family: UbuntuMedium;
}
.myFontBold{
    font-family: UbuntuBold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;